*.pem
*.pickle
*.zip

.env
.venv/
Database/
Knowledge Base/
Notes/

Postgres Retrieval Service/__pycache__/

AWS Postgres Retrieval Service/deploy/
AWS Postgres Retrieval Service/pip_cache/
AWS Postgres Retrieval Service/pip_tmp/