*.pem
*.pickle
*.zip

.env
.venv/
all-MiniLM-l6-v2/
Database/
Knowledge Base/
Holiday Schedules/
Notes/

Postgres Retrieval Service/__pycache__/

AWS Postgres Retrieval Service/.env
AWS Postgres Retrieval Service/deploy/
AWS Postgres Retrieval Service/pip_cache/
AWS Postgres Retrieval Service/pip_tmp/